.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  min-height: 1000px;
  width: 100%;
  max-width: var(--default-layoyt-width);
  display: flex;
  justify-content: space-between;
}
.content {
  width: 692px;
}
